body {
    background-image: url("../images/ocean-waves.jpg");
    background-size: cover; 
    background-repeat: no-repeat;

}

.header-container {
    margin: auto;
    max-width: 1000px;
}

.jumbotron {
    background-color: peachpuff;
}

h1 {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-bottom: solid 2px peachpuff;
    margin-bottom: 20px;
}

.game-container {
    max-width: 1000px;
    margin: auto;
    border: solid 2px peachpuff;
    padding: 50px;
}

h3 {
    font-size: 18px;
}

